# =========================
# Local memo / notes
# =========================
memo/

# =========================
# Environment variables
# =========================
.env
.env.*


# =========================
# Terraform
# =========================
# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*

# tfvars
*.tfvars
!terraform.tfvars